.podium-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Ajuste conforme necessário */
  }
  
  .podium {
    display: flex;
    align-items: flex-end;
    position: relative;
  }
  
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; /* Ajuste conforme necessário */
    height: 100px; /* Ajuste conforme necessário */
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .gold {
    background-color: gold;
    height: 100px;
  }
  
  .silver {
    background-color: silver;
    height: 80px;
  }
  
  .bronze {
    background-color: #cd7f32;
    height: 60px;
  }
  