.vertical-text-lines-container {
    display: flex;
    align-items: stretch;
    height: 220px; /* Defina uma altura fixa para testar */
    margin-top: 50px;
  }
  
  .text-column {
    flex: 1; /* Faz as colunas de texto crescerem igualmente */
    padding: 0 20px; /* Adiciona espaço ao redor das colunas de texto */
    margin-top: -30px;
    
  }
  
  .separator {
    width: 1px; /* Largura da linha vertical */
    background-color: #000; /* Cor da linha vertical */
    height: 100%; /* Faz a linha vertical se estender para a altura completa do container */
  }

  .grupo1{
    font-size: 30px;
  }

  .grupo2{
    font-size: 30px;
  }

  .text-column{
    text-align: center;
  }